@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --main-color: #eff1f5;
    --sub-color: #ccd0da;
    --alt-color: #dce0e8;
    --accent-color: #04a5e5;
    --text-color: #4c4f69;
    --subtext-color: #6c6f85;
}

body {
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: Inter, sans-serif;
    color: var(--text-color);
    background-color: var(--main-color);
}

#header-title {
    font-size: 3rem;
    font-weight: bold;
    background-color: var(--sub-color);
    text-align: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 1px 0 10px rgba(0, 0, 0, 0.4);
    margin-bottom: 20px;
}

#content-container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 50px;
}

#add-book-container {
    grid-column: 2;
    grid-row: 1;
    align-self: flex-end;
    justify-self: end;
}

#add-book-container button {
    font-size: 1.5rem;
    color: var(--subtext-color);
    background-color: var(--accent-color);
    border-style: none;
    border-radius: 5px;
    box-shadow: 1px 0 10px rgba(0, 0, 0, 0.4);
    margin-bottom: 20px;
}

#add-book-dialog {
    background-color: var(--main-color);
    border-style: none;
    border-radius: 5px;
}

#submit-button {
    margin-top: 20px;
    font-size: 1.5rem;
    color: var(--subtext-color);
    background-color: var(--accent-color);
    border-style: none;
    border-radius: 5px;
    box-shadow: 1px 0 10px rgba(0, 0, 0, 0.4);
    margin-bottom: 20px;
}


#books-container {
    grid-column: 2;
    grid-row: 2;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.book-card {
    justify-self: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 30px 1fr 1fr 1fr 50px;
    background-color: var(--alt-color);
    color: var(--text-color);
    border-left: solid 20px;
    border-color: var(--accent-color);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 250px;
    width: 180px;
    padding: 20px;
    box-shadow: 1px 0 10px rgba(0, 0, 0, 0.4);
}

.book-title {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: underline; 
    grid-column: 1 / 3;
    justify-self: center;
}

.book-author {
    font-size: .9rem;
    grid-column: 1 / 3;
    grid-row: 2;
    justify-self: center;
}

.book-pages {
    grid-column: 1 / 3;
    grid-row: 2;
    align-self: center;
    justify-self: center;
    font-size: .75rem;
}

.book-read {
    grid-column: 1 / 3;
    grid-row: 4;
    justify-self: end;
    align-self: flex-end;
    font-weight: 200;
}

.delete-book-button {
    grid-column: 1 / 2;
    grid-row: 5 / 6;
}

.read-book-button {
    grid-column: 2 / 3;
    grid-row: 5 / 6;
}

.book-card button {
    margin: 5px;
    height: 2rem;
    color: var(--subtext-color);
    background-color: var(--accent-color);
    border-style: none;
    border-radius: 5px;
}